<script type="text/javascript" src="modules/booking/js/nowBooking.js"></script>
<!-- 当前预约 -->
<div class="book-content1 mark-secondContent" style="display:block">
    <div class="book-time mui-list-flex">
        <div class="book-time-list">
            预约到店时间：
            <span class="book-red">{{toShopTime}}</span>
        </div>
        <div class="book-time-list">
            预约开单时间：
            <span class="book-red">{{openOrder}}</span>
        </div>
        <div class="book-time-list">
            预约方式：
            <span>{{bookingStyle}}</span>
        </div>
        <div class="book-time-control">
            <span class="qx-book">取消预约</span>
            <span class="zc-book">转成工单</span>
             <div class="book-time-controlClose qx-book-pop" ng-hide="hideCtrl">
                <span>你确认要取消预约吗？</span>
                <span><em class="qx-book-ture" ui-sref='index.tab-book.newbook' ng-click="cancelOrder()" >确认</em><em class="qx-book-false">取消</em></span>
            </div>
            <div class="zc-book-pop book-time-controlClose">
                <span>你确认要转成工单吗？</span>
                <span><em class="qx-book-ture" ng-click="transformOrder()"  >确认转成</em><em class="qx-book-false">取消</em></span>
            </div>
        </div>
    </div>
    <div class="book-remark">
        <label>预约备注：</label>
        <textarea name="" id="" ng-model="bookingMark" >{{bookingMark}}</textarea>
    </div>
    <div class="book-service">
        <div class="service-tit">
            预约服务内容：
            <span class="add-book">增加</span>
        </div>
        <div class="service-list">
            <ol>
               <!--  <li ng-repeat="items in projectAdd">
                    <span class="service-con" id={{items.projectID}}>{{items.projectName}}</span> <span class="book-blue delete-book">删除</span>
                </li> -->
               <!--  <li>
                    <span class="service-con">更换刹车片</span> <span class="book-blue delete-book">删除</span>
                </li> -->
            </ol>
        </div>
    </div>
    <div>
     <a href="javascript:void(0)" class="btnRed nowBookSave">保存</a>
     <!-- 10-7修改 -->
    </div>
</div>
<!-- 新增预约弹窗 -->
<div class="newAddBespeak-pop  popOuter" >
    <div class="mask"></div>
    <div class="inner">
        <div class="ctr-off">X关闭</div>
        <p>新增预约服务</p>
        <div class="pop-conten">
            <div class="FastBilling clearfix newAddBespeak_con"  >
                <div class="list-FastBilling"   ng-repeat="items in project" ng-click='projectClick1($index)'  ng-class='{{"isActive"+$index}}'>
                    <p  id={{items.projectID}} >{{items.projectName}}</p>
                    <i></i>
                </div>
            </div>

<!-- 
            <div class="tab-order-module" >
                <div class="FastBilling mui-list-flex clearfix" id="FastBillingOrder">
                    <div class="list-FastBilling" ng-class='xuanzhong'  ng-repeat="x in fastName" ng-click='fast_project($index)' ng-model="xuanzhong">
                        <p>{{x.projectName}}</p>
                        <span>{{x.manHour}}时{{(x.manHour)*(x.manHourPrice)}}元</span>
                        <i></i>
                    </div> -->
            <div class="newAddBespeakbtn">
                确认增加
            </div>
        </div>
    </div>
</div>