<script type="text/javascript" src="modules/fastbill/js/fastbill.js"></script>
<div class="tab-order-module" >
    <div class="FastBilling mui-list-flex" id="FastBillingOrder">
        <div class="list-FastBilling" ng-click='fast_project'>
            <p>普通洗车</p>
            <span>2时20元</span>
            <i></i>
        </div>
        <div class="list-FastBilling" ng-click='fast_project'>
            <p >精洗</p>
            <span>2时20元</span>
            <i></i>
        </div>
        <div class="list-FastBilling" ng-click='fast_project'>
            <p>补胎</p>
            <span>2时20元</span>
            <i></i>
        </div>
        <div class="list-FastBilling" ng-click='fast_project'>
            <p>打蜡</p>
            <span>2时20元</span>
            <i></i>
        </div>
        <div class="list-FastBilling" ng-click='fast_project'>
            <p>修车</p>
            <span>2时20元</span>
            <i></i>
        </div>
    </div>
</div>