<!--modules/parts/tpl/selectde.html-->

<!-- 已选配件 -->
<div class="tab-parts-module1 overtime-content1 mark-secondContent" ng-controller='SelectedPart'  style="display:block"  data-ng-init="dothis()">
   <div class="content1-tit">
       <span ng-if='NoOrderNo == 0'>已选<i class="overtime-red">0</i>个项目</span>
       <span ng-if='NoOrderNo == 1'>已选<i class="overtime-red">{{selectedLength}}</i>个项目</span>
       <span ng-if='NoOrderNo == 0'>金额<i class="overtime-red AllPrice" >0</i></span>
       <span ng-if='NoOrderNo == 1'>金额<i class="overtime-red AllPrice" >{{discountPrice}}</i></span>
       <input type="text" value="" placeholder="输入编号/名称" class="apaceAdd">
       <ul class="tit-search-xia2" id="tit-search-xia2">
           <li>1880</li>
       </ul>
       <span class="overtime-add">快捷添加</span>
       <span >扫码出库</span>
       <input type="text" name="" placeholder="请去仓库拿配件扫码出库">
       <span class="overtime-add">开始扫码</span>
       <span >扫码回库</span>
       <input type="text" name="" placeholder="请拿配件扫码回库">

       <span class="overtime-return">开始扫码</span>
       <span class="dispatch-warehouse">急件出入库</span>
    </div>
   <div class="content1-table">
       <table border="1" bordercolor="#dfdfdf">
           <thead>
               <tr>
                   <th>名称</th>
                   <th>品牌</th>
                   <th>型号</th>
                   <th>库位</th>
                   <th>单价</th>
                   <th>数量</th>
                   <th>应付</th>
                   <th>实收</th>
                   <th>领料人</th>
                   <th>销售提成人</th>
                   <th>备注</th>
                   <th>出库状态</th>
                   <th width="4%">操作</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat='SelectedList in SelectedList'  ng-if='NoOrderNo == 1' lang="{{$index}}">
                   <td><span>{{SelectedList.goodsName}}</span></td>
                   <td><span>{{SelectedList.brandName}}</span></td>
                   <td><span>{{SelectedList.model}}</span></td>
                   <td><span>{{SelectedList.wp}}</span></td>
                   <td><input value="{{SelectedList.price}}" ng-model='SelectedList.price' name="" class="SUnitPrice SkeyUp" ng-keyup='selectedModify($index,"price",SelectedList.price)'></td>
                   <td><input value="{{SelectedList.buyNum}}" ng-model='SelectedList.buyNum' name="" class="SNumber SkeyUp" ng-keyup='selectedModify($index,"buyNum",SelectedList.buyNum)'></td>
                   <td class="SPriceNum">{{SelectedList.price*SelectedList.buyNum}}</td>
                   <td class="overtime_red"><input value="{{SelectedList.discountPrice}}" ng-model='SelectedList.discountPrice' ng-keyup='selectedModify($index,"discountPrice",SelectedList.discountPrice)'  name="" class="SumMoney"></td>
                   <td>
                      <select>
                        <option>无</option>
                        <option ng-selected='SelectedList.orderPeople == orderSourceInfoItme.id' value='{{orderSourceInfoItme.id}}' ng-repeat='orderSourceInfoItme in orderSourceInfoItme'>{{orderSourceInfoItme.name}}</option>
                      </select>
                   </td>
                   <td>
                      <select>
                        <option>无</option>
                        <option ng-selected='SelectedList.twiceSalePeople == orderSourceInfoItme.id' value='{{orderSourceInfoItme.id}}' ng-repeat='orderSourceInfoItme in orderSourceInfoItme'>{{orderSourceInfoItme.name}}</option>
                      </select>
                      
                   </td>
                   <td>
                   <input value="{{SelectedList.desc}}" name="" ng-model='SelectedList.desc' ng-keyup='selectedModify($index,"desc",SelectedList.desc)'></td>
                   <td class="overtime_red" ng-if='SelectedList.urgent == 1'>急件出入库</td>
                   <td class="overtime_red" ng-if='SelectedList.urgent == 0'>{{SelectedList.status}}（{{SelectedList.putoutNum}}/{{SelectedList.buyNum}}）</td>


                   <td class="overtime_blue" ng-if='SelectedList.urgent == 1'>
                      <span>配件回库</span>
                      <span  ng-click='SelectedDel($index)'>删除</span></td>
                   <td class="overtime_blue" ng-if='SelectedList.urgent == 0'>
                      <span class="SelectedDel"  ng-click='SelectedDel($index)'>删除</span>
                   </td>
               </tr>
               <tr ng-if='NoOrderNo == 0'>
                    <td colspan="13">暂无数据</td>
               </tr>
           </tbody>
       </table>
   </div>
   <!-- page control -->
   <div class="ep-pages"> 
         <span class="ep-pages-ctrl ep-pages-e5e5e5">&lt;</span>
         <a href="#" target="_self" class="current">1</a> <a href="#" target="_self">2</a> <a href="#" target="_self">3</a>
         <span>...</span> <a href="#" target="_self" class="ep-pages-ctrl">&gt;</a>
    </div>
</div>


<!-- 急件出入库弹窗 -->
<div class="despatch-pop  popOuter">
    <div class="mask"></div>
    <div class="inner">
        <div class="ctr-off">X关闭</div>
        <p>急件出入库</p>
        <div class="mui-list-flex">
            <div>
                <label>型&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                <input type="text" name="">
                <ul class="tit-search-xia2">
                    <li>1880</li>
                </ul>
            </div>
            <div>
                <label>品&nbsp;&nbsp;&nbsp;&nbsp;牌</label>
                <input type="text" name="">
                <ul class="tit-search-xia2">
                    <li>1880</li>
                </ul>
            </div>
            <div>
                <label>名&nbsp;&nbsp;&nbsp;&nbsp;称</label>
                <input type="text" name="">
                <ul class="tit-search-xia2">
                    <li>1880</li>
                </ul>
            </div>
        </div>
        <div  class="mui-list-flex">
            <div>
                <label>供应商</label>
                <input type="text" name="">
                <ul class="tit-search-xia2">
                    <li>1880</li>
                </ul>
            </div>
            <div class="caigouPrice">
                <label>采购价</label>
                <input type="text" name="">
            </div>
            <div>
                <label>入库数量</label>
                <input type="text" name="">
            </div>
        </div>
        <div  class="mui-list-flex">
            <div>
                <label>售&nbsp;&nbsp;&nbsp;&nbsp;价</label>
                <input type="text" name="">
            </div>
            <div class="kuwei-pop">
                <label>库&nbsp;&nbsp;&nbsp;&nbsp;位</label>
               <select>
                   <option>A1</option>
               </select>
            </div>
            <div class="list-space"></div>
        </div>
       <div class="pop-controlBtn">
            <div class="controlBtn-save">保存并继续添加</div>
            <div class="controlBtn-add">添加</div>
        </div> 
    </div>
</div>

<script type="text/javascript" src="modules/parts/js/selected.js"></script>
