<!--modules/parts/tpl/usually.html-->

<!--  常用配件 -->
<div class="tab-parts-module3 mark-secondContent" ng-controller='UsuallyContrl'>
    <!-- tit -->
   <div class="normal-tit">
       <span class="normal-b">常用配件</span>
       <div class="tit-carNo">
           当前
           <span>车架号：</span>
           <span class="overtime_red">{{vinNo}}</span>
       </div>
       <div class="tit-carType">
           车型：
           <span class="overtime_red">{{carModelNo}}</span>
       </div>
   </div>
   <!-- bar -->
   <div class="normal-bar clearfix">
       <div class="bar-lsit-left">
            <span class="ctrl-bar-up
             ">
             <!-- disabledColor -->
                ︽
            </span>
            <div class="ulBox">
                <ul>
                   <!-- <li class="bgred">机油</li> -->
                   <li ng-click='PartCheckBrand(UsuallyPartName)' ng-repeat='UsuallyPartName in  UsuallyPartName'>{{UsuallyPartName}}</li>
     
                </ul>
            </div>
            <span class="ctrl-bar-down">︾</span>
       </div>
       <div class="bar-list-right">
           <p class="bar-right-tit">
                共有<span class="vertime_red">5</span>件机油适配当前车型
            </p>
            <div class="bar-right-list">
                <div class="right-list-barnd">
                    <span>品牌：</span>
                </div>
                <div class="right-list-items">
                    <ul>
                        <li ng-click='BrandPart(standardName)'>全部</li>
                        <li ng-click='BrandPart(standardName,UsuallyPartBrand.brandName)' ng-repeat='UsuallyPartBrand in UsuallyPartBrand'>{{UsuallyPartBrand.brandName}}</li>
                    </ul>
                </div>
            </div>
       </div>
   </div>
    <!-- table -->
    <div class="normal-table">
        <table border="1" bordercolor="#dfdfdf" class="mui-table">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>品牌</th>
                    <th>型号</th>
                    <th>采购价</th>
                    <th>售价</th>
                    <th>库位</th>
                    <th>库存</th>
                    <th>推荐用量</th>
                    <th class="min-NumW">数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if='PartListNo==1' ng-repeat='brandNameList in brandNameList'>
                    <td><span>{{brandNameList.goodsName}}</span></td>
                    <td><span>{{brandNameList.brandName}}</span></td>
                    <td><span>{{brandNameList.model}}</span></td>
                    <td><input value='{{brandNameList.purchasePrice}}' type="text" name=""></td>
                    <td class="overtime_red"><input value='{{brandNameList.price}}' type="text" name=""></td>
                    <td><input value='{{brandNameList.storageLocation}}' type="text" name=""></td>
                    <td><input value='{{brandNameList.storages}}' type="text" name=""></td>
                    <td>{{brandNameList.storages}}</td>
                    <td class="ctr-num-td">
                        <div class="ctr-nunm">
                            <span class="moveBtn">-</span>
                            <input type="text" value="{{brandNameList.buyNum}}" class="showNum">
                            <span class="addBtn">+</span>
                        </div>
                    </td>
                    <td>
                        <div class="ctr-add">
                            <span class="overtime_blue" ng-click='AddSelectedData($index)'>添加</span>
                        </div>
                    </td>
                </tr>
                <tr ng-if='PartListNo==0'>
                    <td colspan='11'>暂无数据</td>
                </tr>
            </tbody>
        </table>
        <div class="ep-pages" ng-if='IsPage == 1' pagenum ='{{PageNo}}'> 
            <a class="ep-pages-ctrl ep-pages-e5e5e5">&lt;</a>
            <!-- <a class="current">1</a> -->
            <font>
            <a ng-repeat='RepeatArr in RepeatArr' ng-click='BrandPart(standardNameP,brandNameP,RepeatArr,10)'>
                {{RepeatArr}}
            </a> 
            </font>
            <a class="ep-pages-ctrl">&gt;</a>
        </div>
    </div>
</div>

<script type="text/javascript" src="modules/parts/js/usually.js"></script>
