<script type="text/javascript" src="modules/workhours/js/yixuan.js"></script>
<div class="overtime-content1 mark-secondContent" style="display: block;">
   <div class="content1-tit tit-search-list">
       <input type="text" placeholder="输入编号/名称" value="{{entryName}}" ng-model="entryName" ng-keyup="workeyup()" class="workvalue">
       <ul class="tit-search-xia" ng-if="workPro" ng-model="workPro">
         <li ng-repeat="item in ItemProjact track by $index" ng-click="setValue($index)">
         	{{item}}
         </li>        
       </ul>
       <span class="overtime-add" ng-click="addbtn()">快捷添加</span>
       <span>已选<i class="red">5</i>个项目</span>
       <span>总金额<i class="red">4650.00</i></span>
   </div>
   <div class="content1-table">
       <table border="1" bordercolor="#dfdfdf">
           <thead>
               <tr>
                   <th>项目名称</th>
                   <th>计划工时</th>
                   <th>工时倍数</th>
                   <th>应收工时费</th>
                   <th>实收</th>
                   <th>施工人员</th>
                   <th>二次销售</th>
                   <th>施工提成人</th>
                   <th>备注</th>
                   <th>卡券项目</th>
                    <th>操作</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>更换中门导轨</td>
                   <td>2.0</td>
                   <td>1</td>
                   <td class="overtime-bold">200.00</td>
                   <td>150.00</td>
                   <td>小李 </td>
                   <td class="overtime-green">已结单</td>
                   <td>小李</td>
                   <td>小李已维修</td>
                   <td class="overtime-pin">是</td>
                   <td class="overtime-pin overtime-shanchu" ng-click="overtime-shanchu()">删除</td>
                   
               </tr>
               <tr ng-repeat="x in agoName" >
                   <td>{{x.projectName}}</td>
                   <td><input type="" name="" value="{{x.manHour}}"></td>
                   <td><input type="" name="" value="{{x.multiple}}"></td>
                   <td class="overtime-bold" ><input type="" name="" value="{{x.manHourPrice}}"></td>
                   <td><input type="" name="" value="{{x.manHourPrice}}"></td>
                   <td><input type="" name="" value="{{x.onePeople}}"></td>
                   <td class="overtime-green" ><input type="" name="" value="{{x.twiceSalePeople}}"></td>
                   <td><input type="" name="" value="{{x.projectID}}"></td>
                   <td><input type="" name="" value="{{x.desc}}"></td>
                   <td class="overtime-pin">是</td>
                   <td class="overtime-pin overtime-shanchu" ng-click="shanchu($index)">删除</td>
               </tr>
               <tr ng-repeat="x in names" >
                   <td>{{x.projectName}}</td>
                   <td><input type="" name="" value="{{x.manHour}}"></td>
                   <td><input type="" name="" value="{{x.multiple}}"></td>
                   <td class="overtime-bold" ><input type="" name="" value="{{x.manHourPrice}}"></td>
                   <td><input type="" name="" value="{{x.manHourPrice}}"></td>
                   <td><input type="" name="" value="{{x.onePeople}}"></td>
                   <td class="overtime-green" ><input type="" name="" value="{{x.twiceSalePeople}}"></td>
                   <td><input type="" name="" value="{{x.projectID}}"></td>
                   <td><input type="" name="" value="{{x.desc}}"></td>
                   <td class="overtime-pin">是</td>
                   <td class="overtime-pin overtime-shanchu" ng-click="shanchu($index)">删除</td>                   
               </tr>
               <tr ng-repeat="x in addNames" >
                   <td>{{x.projectName}}</td>
                   <td><input type="" name="" value="{{x.manHour}}"></td>
                   <td><input type="" name="" value="{{x.multiple}}"></td>
                   <td class="overtime-bold" ><input type="" name="" value="{{x.manHourPrice}}"></td>
                   <td><input type="" name="" value="{{x.manHourPrice}}"></td>
                   <td><input type="" name="" value="{{x.onePeople}}"></td>
                   <td class="overtime-green" ><input type="" name="" value="{{x.twiceSalePeople}}"></td>
                   <td><input type="" name="" value="{{x.projectID}}"></td>
                   <td><input type="" name="" value="{{x.desc}}"></td>
                   <td class="overtime-pin">是</td>
                   <td class="overtime-pin overtime-shanchu" ng-click="shanchu($index)">删除</td>
               </tr>

               <!-- 测试添加预约项目 韩盼盼 -->
              <!-- <tr ng-repeat="items in projectAdd">
                   <td id={{items.projectID}}>{{items.projectName}}</td>
                   <td>2.0</td>
                   <td>1</td>
                   <td class="overtime-bold">200.00</td>
                   <td>150.00</td>
                   <td>小李 </td>
                   <td class="overtime-green">已结单</td>
                   <td>小李</td>
                   <td>小李已维修</td>
                   <td class="overtime-pin">是</td>
                   <td class="overtime-pin overtime-shanchu" ng-click="overtime-shanchu()">删除</td>
              </tr> -->
           </tbody>
       </table>
   </div>
 </div>


		
		
		
		
		
		
		
		
		
	